*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  margin: 0;
}

.container .ql-editor {
  width: 8.5in;
  min-height: 11in;
  padding: 1in;
  margin: 1rem auto;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  background-color: white;
}

.container .ql-container.ql-snow,
.container .ql-toolbar.ql-snow {
  border: none;
}

.container .ql-toolbar.ql-snow {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #f3f3f3;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
}

@page {
  margin: 1in;
}

/* .ql-label:before {
  content: "<input/>";
} */

.ql-spanblock:after {
  content: "<sb/>";
}

.spanblock {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  line-height: 19px;
  padding: 6px 10px;
  border-radius: 3px;
  margin: 15px 0;
}

@media print {
  body {
    background: none;
  }

  .container .ql-editor {
    width: 6.5in;
    height: 9in;
    padding: 0;
    margin: 0;
    box-shadow: none;
    align-self: flex-start;
  }

  .container .ql-toolbar.ql-snow {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .container .ql-toolbar.ql-snow {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: center;
  }
  .container .ql-toolbar.ql-snow .ql-formats {
    display: flex;
  }
  .container .ql-editor {
    width: 4in;
    padding: 0.4in;
  }
}
